### Homework 6 Bracket Challenge
### Yue Yu yy1879

In [35]:
import pandas as pd
import numpy as np
import math

In [36]:
raw_four = pd.read_excel('all_four.xlsx',header=0)
all_four = raw_four[['Year','Score','Winner','Runner-Up','Third Place','Fourth Place']].copy()
all_four.columns = ['Year','Score','First','Second','Third','Fourth']
all_four

,Year,Score,First,Second,Third,Fourth
0,2018,79-62,Villanova,Michigan,Kansas,Loyola-Chicago
1,2017,71-65,North Carolina,Gonzaga,Oregon,South Carolina
2,2016,77-74,Villanova,North Carolina,Oklahoma,Syracuse
3,2015,68-63,Duke,Wisconsin,Michigan St.,Kentucky
4,2014,60-54,Connecticut,Kentucky,Florida,Wisconsin
5,2013,82-76,Louisville,Michigan,Wichita St.,Syracuse
6,2012,67-59,Kentucky,Kansas,Ohio St.,Louisville
7,2011,53-41,Connecticut,Butler,Kentucky,VCU
8,2010,61-59,Duke,Butler,West Virginia,Michigan St.
9,2009,89-72,North Carolina,Michigan St.,Villanova,Connecticut
10,2008,75-68,Kansas,Memphis,North Carolina,UCLA
11,2007,84-75,Florida,Ohio St.,UCLA,Georgetown
12,2006,73-57,Florida,UCLA,George Mason,LSU
13,2005,75-70,North Carolina,Illinois,Michigan St.,Louisville
14,2004,82-73,Connecticut,Georgia Tech,Duke,Oklahoma St.
15,2003,81-78,Syracuse,Kansas,Texas,Marquette
16,2002,64-52,Maryland,Indiana,Kansas,Oklahoma
17,2001,82-72,Duke,Arizona,Maryland,Michigan St.
18,2000,89-76,Michigan St.,Florida,Wisconsin,North Carolina
19,1999,77-74,Connecticut,Duke,Michigan St.,Ohio St.
20,1998,78-69,Kentucky,Utah,Stanford,North Carolina
21,1997,84-79,Arizona,Kentucky,North Carolina,Minnesota
22,1996,76-67,Kentucky,Syracuse,Mississippi St.,Massachusetts
23,1995,89-78,UCLA,Arkansas,Oklahoma St.,North Carolina
24,1994,76-72,Arkansas,Duke,Arizona,Florida
25,1993,77-71,North Carolina,Michigan,Kansas,Kentucky
26,1992,71-51,Duke,Michigan,Indiana,Cincinnati
27,1991,72-65,Duke,Kansas,UNLV,North Carolina
28,1990,103-73,UNLV,Duke,Georgia Tech,Arkansas
29,1989,80-79,Michigan,Seton Hall,Illinois,Duke
...,...,...,...,...,...,...
50,1968,78-55,UCLA,North Carolina,Ohio St.,Houston
51,1967,79-64,UCLA,Dayton,Houston,North Carolina
52,1966,72-65,Texas Western,Kentucky,Duke,Utah
53,1965,91-80,UCLA,Michigan,Princeton,Wichita St.
54,1964,98-83,UCLA,Duke,Michigan,Kansas St.
55,1963,60-58,Loyola,Cincinnati,Duke,Oregon St.
56,1962,71-59,Cincinnati,Ohio St.,Wake Forest,UCLA
57,1961,70-65,Cincinnati,Ohio St.,St. Joseph's,Utah
58,1960,75-55,Ohio St.,California,Cincinnati,NYU
59,1959,71-70,California,West Virginia,Cincinnati,Louisville
60,1958,84-72,Kentucky,Seattle,Temple,Kansas St.
61,1957,54-53,North Carolina,Kansas,San Francisco,Michigan St.
62,1956,83-71,San Francisco,Iowa,Temple,SMU
63,1955,77-63,San Francisco,La Salle,Colorado,Iowa
64,1954,92-76,La Salle,Bradley,Penn. St.,USC
65,1953,69-68,Indiana,Kansas,Washington,LSU
66,1952,80-63,Kansas,St. John's,Illinois,Santa Clara
67,1951,68-58,Kentucky,Kansas St.,Illinois,Oklahoma A&M
68,1950,71-68,CCNY,Bradley,NC State,Baylor
69,1949,46-36,Kentucky,Oklahoma A&M,Illinois,Oregon St.
70,1948,58-42,Kentucky,Baylor,Holy Cross,Kansas St.
71,1947,58-47,Holy Cross,Oklahoma,Texas,CCNY
72,1946,43-40,Oklahoma A&M,North Carolina,Ohio St.,California
73,1945,49-45,Oklahoma A&M,NYU,Arkansas,Ohio St.
74,1944,42-40,Utah,Dartmouth,Iowa St.,Ohio St.
75,1943,46-34,Wyoming,Georgetown,Texas,DePaul
76,1942,53-38,Stanford,Dartmouth,Colorado,Kentucky
77,1941,39-34,Wisconsin,Washington St.,Pittsburgh,Arkansas
78,1940,60-42,Indiana,Kansas,Duquesne,USC
79,1939,46-33,Oregon,Ohio St.,Oklahoma,Villanova

In [41]:
states = {}
def gettimevalue(n):
    return (n-1938)**2/3
for i in range(len(all_four)):
    first = all_four['First'][i]
    second = all_four['Second'][i]
    third = all_four['Third'][i]
    fourth = all_four['Fourth'][i]
    time_value = gettimevalue(all_four['Year'][i])
    try:
        states[first] += int(4*time_value)
    except:
        states[first] = int(4*time_value)
    try:
        states[second] += int(3*time_value)
    except:
        states[second] = int(3*time_value)
    try:
        states[third] += int(2*time_value)
    except:
        states[third] = int(2*time_value)
    try:
        states[fourth] += int(1*time_value)
    except:
        states[fourth] = int(1*time_value)
import operator
sorted_x = sorted(states.items(), key=operator.itemgetter(1))
sorted_x[::-1]

[('North Carolina', 49996),
 ('Duke', 48258),
 ('Kentucky', 39132),
 ('Kansas', 33802),
 ('UCLA', 30836),
 ('Connecticut', 27255),
 ('Michigan St.', 25002),
 ('Michigan', 24057),
 ('Villanova', 24039),
 ('Florida', 21252),
 ('Louisville', 19009),
 ('Syracuse', 15757),
 ('Indiana', 14752),
 ('Ohio St.', 12072),
 ('Arizona', 11533),
 ('Butler', 10513),
 ('Wisconsin', 10428),
 ('Arkansas', 9432),
 ('Georgetown', 8578),
 ('Maryland', 8107),
 ('UNLV', 8091),
 ('Oklahoma', 8002),
 ('Illinois', 6545),
 ('Houston', 6291),
 ('Gonzaga', 6241),
 ('Georgia Tech', 6158),
 ('Memphis', 4900),
 ('Marquette', 4732),
 ('NC State', 4524),
 ('Oregon', 4161),
 ('Utah', 4085),
 ('Wichita St.', 3993),
 ('West Virginia', 3897),
 ('LSU', 3768),
 ('Cincinnati', 3686),
 ('Oklahoma St.', 3618),
 ('George Mason', 3082),
 ('Texas', 2886),
 ('Seton Hall', 2601),
 ('Stanford', 2421),
 ('Mississippi St.', 2242),
 ('Purdue', 2137),
 ('Loyola-Chicago', 2133),
 ('South Carolina', 2080),
 ('Memphis St.', 1961),
 ('Virginia', 1937),
 ('VCU', 1776),
 ('Indiana St.', 1681),
 ("St. John's ", 1668),
 ('Georgia', 1350),
 ('Providence', 1208),
 ('Minnesota', 1160),
 ('Florida St.', 1156),
 ('DePaul', 1128),
 ('Massachusetts', 1121),
 ('California', 1093),
 ('San Francisco', 1057),
 ('Texas Western', 1045),
 ('Jacksonville', 1024),
 ('Iowa', 1008),
 ('Dayton', 841),
 ('Loyola', 833),
 ('Western Ky.', 726),
 ('New Mexico St.', 682),
 ('Drake', 640),
 ('La Salle', 630),
 ('Kansas St.', 560),
 ('Pennsylvania', 560),
 ('Notre Dame', 533),
 ('UNC Charlotte', 507),
 ('Princeton', 486),
 ('Temple', 482),
 ('Rutgers', 481),
 ('Bradley', 400),
 ('Seattle', 400),
 ('Wake Forest', 384),
 ("St. Joseph's", 352),
 ('St. Bonaventure', 341),
 ('Oklahoma A&M', 327),
 ('Oregon St.', 248),
 ('CCNY', 219),
 ('NYU', 210),
 ('Colorado', 202),
 ('Holy Cross', 174),
 ('Penn. St.', 170),
 ('Washington', 150),
 ('Baylor', 148),
 ('SMU', 108),
 ('USC', 86),
 ('Santa Clara', 65),
 ('Dartmouth', 52),
 ('Wyoming', 33),
 ('Iowa St.', 24),
 ('Washington St.', 9),
 ('Pittsburgh', 6),
 ('Duquesne', 2)]